<nav class="navbar navbar-expand-lg borde mb-2 bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home'%}">RukaSabor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'recetas'%}">Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
        </li>
        {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'listar_recetas' %}">Administracion de recetas</a>
          </li>
          <!-- Puedes agregar más opciones para el staff aquí -->
        {% endif %}
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'exit' %}">Salir</a>
          </li>
        {% else %} 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
          </li>
        {% endif %}
        <li class="nav-item dropdown"> 
      </ul>
      <form class="d-flex container px-5" method="POST" action="{% url 'busqueda_funcional' %}">
        {% csrf_token %}
        <input class="form-control ms-5 w-30" type="search" placeholder="Buscar" aria-label="Buscar" autocapitalize="none" 
        autocomplete="off" autocorrect="off" tabindex="0" spellcheck="false" name="busquedaFuncional">
        <button class="btn btn-outline-success-coral" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
          </svg>
        </button>
      </form>
    </div>
  </div>
</nav>