{% extends 'components/Layout/base.html' %}
{% load static %}
{% block content %}
  <center id="busqueda">
    <form method="GET" class="mb-4">
      <input type="text" name="busquedaFuncional" value="{{ searched }}" class="invisible" placeholder="Buscar..." />
      <select name="categoria">
        <option value="">Todas las categorías</option>
        {% for categoria in categorias %}
          <option value="{{ categoria.0 }}" {% if categoria.0 == categoria_seleccionada %}selected{% endif %}>
            {{ categoria.1 }}
          </option>
        {% endfor %}
      </select>
      <button type="submit">Buscar</button>
    </form>
    {% if searched %}
      <h1 class="mb-4">Última búsqueda: {{ searched }}</h1>
      
      <div class="d-flex flex-column align-items-center">
        {% for resultado in resultados %}
          <div class="card mb-4" style="width: 15rem;">
            <img src="{{ resultado.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ resultado }}</h5>
              <a href="{% url 'recetas:receta_detalle' resultado.id %}" class="btn btn-primary">Ver detalles</a>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if resultados.has_other_pages %}
        <!-- Paginador dentro del centro -->
        <div class="d-flex justify-content-center mt-4">
          <ul class="pagination">
            {% if resultados.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?busquedaFuncional={{ searched|urlencode }}&categoria={{ categoria_seleccionada }}&page={{ resultados.previous_page_number }}">Anterior</a>
              </li>
            {% endif %}

            {% for page in resultados.paginator.page_range %}
              {% if page == resultados.number %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="?busquedaFuncional={{ searched|urlencode }}&categoria={{ categoria_seleccionada }}&page={{ page }}">{{ page }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?busquedaFuncional={{ searched|urlencode }}&categoria={{ categoria_seleccionada }}&page={{ page }}">{{ page }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if resultados.has_next %}
              <li class="page-item">
                <a class="page-link" href="?busquedaFuncional={{ searched|urlencode }}&categoria={{ categoria_seleccionada }}&page={{ resultados.next_page_number }}">Siguiente</a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

    {% else %}
      <h1>¡Hey! Olvidaste ingresar lo que deseas buscar.</h1>
    {% endif %}
  </center>
{% endblock %}





