{% extends 'components/Layout/base.html' %}
{% load static %}
{% block content %}


  <center id="busqueda">
      <h1 class="mb-4">Última búsqueda: {{ searched }}</h1>
     {% if resultados %}
      <div class="d-flex flex-column align-items-center">
        {% for resultado in resultados %}
          <div class="card mb-4" style="width: 15rem;">
            <img src="{{ resultado.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ resultado }}</h5>
              <a href="{% url 'recetas:receta_detalle' resultado.id %}" class="btn btn-primary">Ver detalles</a>
            </div>
          </div>
        {% endfor %}
      </div>
      {% include "components/paginator_busqueda.html" %}
    {% else %}
      <p>No se han encontrado resultados</p>
    {% endif %}

  </center>
{% endblock %}





