{% extends 'components/Layout/base.html' %} 
{% load static %}

{% block content %}

  {% for p in entity %}
      <div class="contenedor_recetas col-md-8">
        <div class="card">
          <div class="row g-0">
            <div class="card_receta col-md-5">
              <img src="{{ p.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card_body_recetas card-body">
                <strong class="d-inline-block mb-2 text-primary">{{ p.category }}</strong>
                <h4 class="mb-0">{{ p.title }}</h4>
                <p class="card-text mb-auto">{{ p.ingredients |truncatewords:30 }}</p>
                <p class="card-text"><small class="text-muted"><a href="{% url 'recetas:receta_detalle' p.id %}" class="stretched-link">Seguir leyendo</a></small></p>
              </div>
            </div>
          </div>
        </div>
        
        
  {% endfor %}
  <div>
    {% include 'pages/paginator.html' %}
  </div>
{% endblock %}
