{% extends 'components/Layout/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Detalle Receta{% endblock %}
{% block content %}

  <div class="container-fluid my-5 align-items-center justify-content-center">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <article class="recipe-card d-flex align-items-center">
          <h1 class="mb-4">{{ receta.title }}</h1>
          {% if receta.image %}
            <img src="{{ receta.image.url }}" alt="{{ receta.title }}" class="img-fluid rounded mb-4">
          {% endif %}

          <h2>Ingredientes</h2>
          <ol class="mb-4">
            {% for ingrediente in ingredientes %}
              <li>{{ ingrediente.strip }}</li>
            {% endfor %}
          </ol>

          <h2>Instrucciones</h2>
          <ol class="mb-4">
            {% for instruccion in instrucciones %}
              <li>{{ instruccion.strip }}</li>
            {% endfor %}
          </ol>

          {% if receta.tabla %}
            <h2>Tabla Nutricional</h2>
            <img src="{{ receta.tabla.url }}" style="width: 20rem;" alt="{{ receta.title }}" class="img-fluid rounded mb-4">
          {% endif %}

        
          
          

          <br><br>
          {% if user.is_authenticated %}
          <form action="{% url 'recetas:like_post' receta.id %}" method="post" class="like-form">
            {% csrf_token %}
            <button type="submit" class="btn {% if user in receta.likes.all %}btn-success{% else %}btn-danger{% endif %}">
              <i class="bi bi-heart me-2"></i> 
              <span class="badge">{{ receta.likes.count }}</span>
            </button>
          </form>

          <!-- Botón de Favoritos -->
          <form action="{% url 'recetas:toggle_favorite' receta.id %}" method="post" class="favorite-form">
            {% csrf_token %}
            <button type="submit" class="btn {% if user in receta.favorites.all %}btn-warning{% else %}btn-outline-warning{% endif %}">
              <i class="bi bi-star me-2"></i> 
              {% if user in receta.favorites.all %}
                Quitar de Favoritos
              {% else %}
                Añadir a Favoritos
              {% endif %}
            </button>
          </form>
        {% else %}
          <p>Debes estar logueado para dar "Me gusta" o añadir a "Favoritos".</p>
        {% endif %}




          {% if user.is_authenticated %}
          <h2 class="pt-5 text-end me-5 pe-4">Comentarios...</h2>

          <form method="post">
              {% csrf_token %}
              {{ form | crispy }}

              {% if form.non_field_errors %}
              
              {% endif %}
              <button type="submit" class="btn btn-primary">Enviar Comentario</button>
              <hr>
          </form>
          
          {% if comments %}
              {% for comment in comments %}
                  <div class="comment mb-3 me-5">
                      <div class="comment-user">
                          {% if comment.user.perfil.avatar %}
                              <img src="{{ comment.user.perfil.avatar.url }}" alt="{{ comment.user.username }}'s avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                          {% else %}
                              <img src="{% static 'path/to/default/avatar.jpg' %}" alt="Default avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                          {% endif %}
                          <strong>{{ comment.user.username }}</strong>
                      </div>
                      <div class="comment-text">
                        <p>{{ comment.body }}</p>
                        <small class="text-muted">{{ comment.date_added }}</small>
                      </div>
                  </div>
              {% endfor %}
          {% else %}
              <p>No hay comentarios aún... Sé el primero en agregar uno.</p>
          {% endif %}
          {% else %}
            <p>Debes estar logueado para "Comentar"</p>
          {% endif %}

          {% if messages %}
            <script>
              {% for message in messages %}
                Swal.fire({
                  title: '¡Favorito!',
                  text: "{{ message }}",
                  iconHtml: '<i class="fa fa-star" style="color:gold;"></i>',
                  confirmButtonText: 'Aceptar'
                });
              {% endfor %}
            </script>
        {% endif %}

        </article>
      </div>
    </div>
  </div>

{% endblock %}
