{% extends 'components/Layout/base.html' %} 
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}  
  <h1 class="text-center mt-5">Perfil de {{ perfil.usuario.username }}</h1>

  <div class="card_perfil d-flex justify-content-center">
    <div class="card_perfil_contenido" style="width: 20rem;">
      {% if perfil.avatar %}
        <div class="card_image d-flex justify-content-center m-3">
          <img src="{{ perfil.avatar.url}}" alt="Avatar" class="img-avatar card-img-top m-auto"  alt="...">
        </div>
      {% else %}
      <div class="card_image d-flex justify-content-center m-3">
        <img src="{% static 'avatar/icon.png' %}" alt="Default avatar" class="rounded-circle me-2">
      </div>
      {% endif %}
      <div class="card-body">
        <p><strong>usuario:</strong> {{ perfil.usuario }}</p>
        <p><strong>Biografia:</strong> {{ perfil.bio }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <button type="button" class="btn btn btn-light">
          <a href="{% url 'usuarios:editar_perfil' %}">Editar Perfil</a>
        </button>
      </div>
    </div>
  </div>
{% endblock %}