{% extends 'components/Layout/base.html' %} 
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<header class="hero-section">
  <div class="container">
      <div class="hero-content text-center text-white">
          <h1 class="hero_title display-4 fw-bold mb-4">RukaSabor</h1>
          <p class="p_principal lead mb-5">Descubre sabores auténticos de chile y fáciles de preparar</p>
      </div>
  </div>
</header>
<section class="row g-0 m-3">
  <div class="col-md-8">
    <h2 class="text-center title_populares">Recetas Más Populares</h2>
    {% for p in top_posts %}
      <div class="contenedor_recetas col-md-8">
        <div class="card card_top">
          <div class="row g-0">
            <div class="card_receta col-md-5">
                <img src="{{ p.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card_body_recetas card-body">
                <strong class="d-inline-block mb-2 text-primary category-white">{{ p.category }}</strong>
                <h4 class="mb-0">{{ p.title }}</h4>
                <p class="card-text mb-auto">{{ p.ingredients | truncatewords:30 }}</p>
                <p class="card-text">
                  <small class="text-muted">
                      <a href="{% url 'recetas:receta_detalle' p.id %}" class="stretched-link read-more-white">Seguir leyendo</a>
                  </small>
                </p>
                <p class="card-text">
                  <small class="text-muted">Me gusta: {{ p.likes.count }}</small>
                </p>
                <p class="text-muted mt-3">Publicado el {{ p.created|date:"d M Y" }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    {% endfor %}
    
    <!-- Navegación entre artículos más antiguos - Paginación -->
  </div>
</section>

  {% if messages %}
  <script>
      {% for message in messages %}
          Swal.fire({
              icon: "{% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% else %}info{% endif %}",
              title: "{{ message|escapejs }}",
              showConfirmButton: true,
              timer: 5000
          });
      {% endfor %}
  </script>
  {% endif %}

{% endblock %}

