{% extends 'components/Layout/base.html' %} 
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="row g-0 m-3">
  <div class="col-md-8">
    <h2 class="text-center title_populares">Recetas Más Populares</h2>
    {% for p in top_posts %}
      <div class="contenedor_recetas col-md-8">
        <div class="card card_top">
          <div class="row g-0">
            <div class="card_receta col-md-5">
                <img src="{{ p.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card_body_recetas card-body">
                <strong class="d-inline-block mb-2 text-primary category-white">{{ p.category }}</strong>
                <h4 class="mb-0">{{ p.title }}</h4>
                <p class="card-text mb-auto">{{ p.ingredients | truncatewords:30 }}</p>
                <p class="card-text">
                  <small class="text-muted">
                      <a href="{% url 'recetas:receta_detalle' p.id %}" class="stretched-link read-more-white">Seguir leyendo</a>
                  </small>
                </p>
                <p class="card-text">
                  <small class="text-muted">Me gusta: {{ p.likes.count }}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    
    <!-- Navegación entre artículos más antiguos - Paginación -->
  </div>
  <div class="container gap-3 d-flex justify-content-end me-3">
    <a href="{% url 'recetas:contacto' %}" class="btn btn-danger">Ayuda</a>
  </div>
</section>
{% endblock %}

