<footer class="footer">
  <div class="container_footer">
    <div class="row">
      <!-- Columna de Acerca de -->
      <div class="col-md-4 mb-4 mb-md-0">
        <h5>Acerca de Nosotros</h5>
        <p>Somos una empresa dedicada a crear soluciones innovadoras para nuestros clientes. Nuestra misión es hacer la tecnología accesible para todos.</p>
      </div>
      <!-- Columna de Enlaces Rápidos -->
      <div class="col-md-4 mb-4 mb-md-0">
        <h5>Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none">Inicio</a></li>
          <li><a href="#" class="text-decoration-none">Servicios</a></li>
          <li><a href="#" class="text-decoration-none">Productos</a></li>
          <li><a href="#" class="text-decoration-none">Contacto</a></li>
          <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="QAAPPUS9HZWPU" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_CL/i/scr/pixel.gif" width="1" height="1" />
            </form>
            
        </ul>
      </div>
      <!-- Columna de Contacto -->
      <div class="col-md-4">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt footer-icon"></i> Calle Principal 123, Ciudad</li>
          <li><i class="bi bi-telephone footer-icon"></i> +1 234 567 890</li>
          <li><i class="bi bi-envelope footer-icon"></i> info@ejemplo.com</li>
        </ul>
      </div>
    </div>
    <!-- Línea separadora -->
    <hr class="my-4">
    <!-- Fila de derechos de autor y redes sociales -->
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
          <p class="mb-0">&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-center text-md-end mt-3 mt-md-0">
        <a href="#" class="text-decoration-none me-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-decoration-none me-3"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-decoration-none me-3"><i class="bi bi-instagram"></i></a>
        <a href="#" class="text-decoration-none"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>